@import "app/components/ui/button/button.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 68.75rem;
  --blue: rgba(0, 118, 255, 0.9);
  --gray: #eaeaea;
  --green: #2da44e;
  --red: #f44336;
  --yellow: rgb(245, 184, 28);
  --purple: #7928ca;
}
.dark {
  --bg-base: #000;
  --clr-base: #fff;

  --bg-secondary: rgb(30, 30, 30);
  --clr-secondary: #888;

  --bg-primary: #000;
  --clr-primary: #fff;

  --select: #f81ce5;
  --border-clr: #333;
}
.light {
  --bg-base: #fff;
  --clr-base: #000;

  --bg-primary: #fafafa;
  --clr-primary: #666;

  --bg-secondary: var(--gray);
  --clr-secondary: #444;

  --select: #79ffe1;
  --border-clr: var(--gray);
}

@layer base {
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
    background-color: var(--bg-base);
    @apply clr-base text-base;
  }

  ::selection {
    background-color: var(--select);
  }

  h1 {
    @apply h1;
  }

  h2 {
    @apply h2;
  }
  h3 {
    @apply h3;
  }
  h4 {
    @apply h4;
  }
}

@layer components {
  /* Black line  */
  .active-tab::before {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 75%;
    border: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    bottom: -0.85rem;
    border-bottom: 2px solid;
  }

  /* Circle with number  */
  a[data-circle]::after {
    --size: auto;
    @apply flex-center absolute text-center font-bold top-0;
    top: -0.5rem;
    right: 0rem;
    height: var(--size);
    width: var(--size);
    padding: 0.5rem;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .border {
    border: 1px solid var(--border-clr);

    &-top {
      border-top: 1px solid var(--border-clr);
    }
    &-bottom {
      border-bottom: 1px solid var(--border-clr);
    }
    &-left {
      border-left: 1px solid var(--border-clr);
    }
    &-right {
      border-right: 1px solid var(--border-clr);
    }
  }
}

.container {
  max-width: var(--max-width);
  margin-inline: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
